<style>
    .subscription{
        max-width:450px;
    }
    .subscribe{
        margin-bottom: 5px;
    }
</style>
<div class="subscription">
    <h1 id="subscribeMessage" class="text-center" style="display:none;">Thank you for subscription</h1>
    <div class="col-md-12" id="subscribeForm" style="display:block;">
        <input type="email" class="form-control subscribe" id="email" placeholder="Email" name="email">
        @*<input type="text" class="form-control subscribe" id="name" placeholder="Name" name="name">*@
        @*<input type="text" class="form-control subscribe" id="mobile" placeholder="Mobile" name="mobile">*@
        @*<textarea class="form-control subscribe" id="remarks" placeholder="Put your comments here" name="remarks" rows="5"></textarea>*@
        <input type="button" name="submit" id="submit" value="Submit" onclick="SubmitSubscription()" style="float:left;" class="form-control" />
        <div style="color:red; float:left; margin-left:10px;" id="errorMessage"></div>
    </div>
</div>
<script>
    function SubmitSubscription() {
        var email = $("#email").val();
        var name = $("#name").val();
        var mobile = $("#mobile").val();
        var remarks = $("#remarks").val();

        $.ajax({
            method: 'POST',
            url: '/SubscriptionHome/CreateSubscription',
            data: { email: email, name: name, mobile: mobile, remarks: remarks },
            success: function (rsp) {                
                console.log(rsp);
                //NccGlobalAlert.ShowSuccess(rsp.message);
                if (rsp.isSuccess == true) {
                    document.getElementById("subscribeForm").style.display = "none";
                    document.getElementById("subscribeMessage").style.display = "block";
                    document.getElementById("subscribeMessage").innerHTML = rsp.message;
                }
                else {
                    document.getElementById("errorMessage").innerHTML = rsp.message;
                }
            },
            error: function (rsp) {
                document.getElementById("errorMessage").innerHTML = "Error occoured. Please try again after refresh the page.";
            }
        });
    }
</script>
