@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options

@inject IOptions<RequestLocalizationOptions> LocOptions

@{    
    var currentLanguage = (string)this.ViewContext.HttpContext.Items["currentLanguage"];
    NccTranslator<ThemeTranslation> _TT = new NccTranslator<ThemeTranslation>(currentLanguage);

    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new { Value = c.TwoLetterISOLanguageName.ToLower(), Text = c.NativeName })
        .ToList();
    var selectList = new SelectList(cultureItems, "Value", "Text", currentLanguage);
}
<form id="selectLanguage" asp-controller="Home" asp-action="SetLanguage" asp-route-returnUrl="@Context.Request.Path" method="post" class="form-inline" role="form" style="display:inline;">
    <div class="form-group">
        <label for="exampleInputName2">@_TT["Language"]</label>
        <select class="btn btn-mini btn-default" name="culture" id="culture" onchange="this.form.submit();" asp-items="selectList"></select>
    </div>
</form>
