@using NetCoreCMS.Modules.Subscription.Models
@using System.Collections

@model SubscriptionSettings

@{
    Layout = Constants.AdminLayoutName;
    ViewData["PageTitle"] = "Subscription";
    ViewData["PageSubtitle"] = "Subscription";
    var controllerName = "SubscriptionUser";
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                @ViewData["PageSubtitle"]
            </div>
            <div class="panel-body text-center">
                <h2>Use the following code in <strong>page / post</strong> to include subscription form.</h2>
                <h1>[Subscription]</h1>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</div>



@section Scripts{

}
