@{
    var WebSite = GlobalConfig.WebSite;
}
                <!-- Container for showing global messages. -->
<div class="row">
    <div id="globalMessageContainer" class="ncc-global-message">

    </div>
</div>