obj
bin
/.vs/NetCoreCMS/v15/*.suo
config
/NetCoreCMS.Framework/*.user
/NetCoreCMS.Web/Modules/Core/NetCoreCMS.Modules.Cms/*.user
/NetCoreCMS.Web/Themes/NetCoreCMS.Theme.Default/*.user
/NetCoreCMS.Web/Core/NetCoreCMS.Modules.Cms/*.user
/NetCoreCMS.Web/*.user
*.user
/NetCoreCMS.Web/setup.json
/NetCoreCMS.Web/Data/NetCoreCMS.Database.SqLite.db
