@using NetCoreCMS.MatGallery.Models
@using System.Collections

@{
    Layout = Constants.AdminLayoutName;
    ViewData["PageTitle"] = "Module Upload";
    ViewData["PageSubtitle"] = "Upload your module";
}
    
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                @ViewData["PageSubtitle"]
                <div class="pull-right"><a asp-controller="MatgModule" asp-action="Manage" class="btn btn-outline btn-primary btn-xs">Manage</a></div>
            </div>
            <div class="panel-body">
                <form method="post" asp-action="Upload" asp-controller="MatgModule" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-2"><label>Select file : </label></div>
                            <div class="col-md-10">
                                <input type="file" name="file" class="form-control" accept="application/x-zip" />
                            </div>
                            <br />
                            <br />
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-2"></div>
                            <div class="col-md-10">
                                <input type="submit" class="btn btn-success " value="Upload" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    
}
