@using NetCoreCMS.Modules.News.Models
@using System.Collections

@model NeNews

@{
    Layout = Constants.SiteLayoutName;
    Title = Model.Name;
    SubTitle = "";    
}

<div>
    @Html.Raw(Model.Content)
</div>

@section Scripts{
    
}
