@{
    Title = "NetCore CMS Settings Home";
    Layout = "_SimpleLayout";
}

<div class="row">
   <h1>Net Core CMS</h1>
    <hr/>
    Please configure <a href="/Admin/Startup">Startup</a>. Set Default url /CmsHome
</div>
