@using NetCoreCMS.Framework.Utility
@{
    Layout = Constants.SimpleLayoutName;
    Title = "Resource not found";
}
<link href='//fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Monda' rel='stylesheet' type='text/css'>

<style type="text/css">
    

    body {
        /*background: #f3f3e1;*/
    }

    .error {
        font-family: 'Monda', cursive;
        /*margin-top: 50px;*/
        text-align: center;
    }
        .error h1 {
            font-size: 200px;
            color: #8F8E8C;
            text-align: center;
            margin-bottom: 1px;
            text-shadow: 5px 5px 10px #888;
        }
        .error h3 {
            font-family: 'Satisfy', cursive;
            color: #8F8E8C;
            text-align: left;
            margin-bottom: 1px;
        }
</style>

<div class="error" style="padding-top:20vh;">
    <h1>404</h1>    
    <div class="sub">
        <p><a class="btn btn-primary" href="/">Back to Home</a></p>
    </div>
    <hr/>
    <div >
        <div style="margin-left:30%; margin-right:auto;">
            <h3> @Html.Raw(TempData["ErrorMessage"])</h3>
            <h3> @Html.Raw(ViewData["ErrorMessage"])</h3>
        </div>
    </div>
    <hr />
</div>