@{
    ViewData["Title"] = "Restart";
    Layout = "_SimpleLayout";
}    


<div class="page-header text-center">
    <h1>NetCoreCMS is Restarting</h1>
    <hr />
    <h2 id="showText" >Please wait</h2>     
</div>       
 
<script>
// Set the date we're counting down to
var count = 5;

// Update the count down every 1 second
var x = setInterval(function() {    
    if (count <= 0) {
        document.getElementById("showText").innerHTML = "Redirecting to <a href='/' >Home</a>";
        window.location.replace("/");
    }
    else {
        document.getElementById("showText").innerText = "Please wait " + count + " second";
        count--;
    }
}, 1000);
</script>