@{
    Title = "Setup Successful";
    Layout = "_SimpleLayout";
}

<div class="page-header text-center">
    <h1>NetCoreCMS Setup Successful</h1>
    <hr />
    <h2>Please restart and enjoy <strong>NetCoreCMS</strong></h2> 
    <a href="/CmsHome">Home</a>
</div>       

