<div class="form-group">
    <label class="col-sm-3 control-label">Name</label>
    <div class="col-sm-9">
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter Slider Name">
    </div>
</div>
