<div class="form-group">
    <label class="col-sm-3 control-label">Category</label>
    <div class="col-sm-9">
        <input type="text" class="form-control" id="category" name="category" placeholder="Enter Category">
    </div>
</div>
<div class="form-group">
    <label class="col-sm-3 control-label">Column Class</label>
    <div class="col-sm-9">
        <input type="text" class="form-control" id="columnClass" name="columnClass" placeholder="Enter column class col-md-6">
    </div>
</div>
<div class="form-group">
    <label class="col-sm-3 control-label">Column Color</label>
    <div class="col-sm-9">
        <input type="text" class="form-control" id="columnColor" name="columnColor" placeholder="Enter column Color #000000">
    </div>
</div>
