<div class="Featured">
    @{
        var featured = GlobalConfig.WebSiteWidgets.Where(x => x.Zone == "Featured" && x.LayoutName == ViewBag.CurrentLayout).ToList();
        if (featured != null && featured.Count > 0)
        {
            <div style="width:100%;">
                @foreach (var item in featured)
                {
                    var widgets = GlobalConfig.Widgets.Where(x => x.WidgetId == item.WidgetId).ToList();
                    foreach (var widget in widgets)
                    {
                        widget.Init(item.Id);
                        Html.Raw(widget.RenderBody());                                            
                    }
                }
            </div>
        }
    }
</div>

<!-- Container for showing global messages. -->
<div class="row">
    <div id="globalMessageContainer" class="ncc-global-message">

    </div>
</div>