<!-- Full Width Slider Start -->
<div>
    @{
        var fullWidthSlider = ThemeHelper.GetWebsiteWidgets(CurrentLayout, "FullWidthSlider");
        if (fullWidthSlider != null && fullWidthSlider.Count > 0)
        {
            <div class="fullWidthSlider">
                @foreach (var item in fullWidthSlider)
                {
                    var widgets = ThemeHelper.GetWidgets(item.WidgetId);
                    foreach (var widget in widgets)
                    {
                        widget.Init(item.Id);
                        if (string.IsNullOrEmpty(widget.Language) || string.IsNullOrEmpty(CurrentLanguage) || CurrentLanguage == widget.Language)
                        { 
                            if (widget.DisplayTitle != "" || widget.Footer != "")
                            {
                                <div class='panel panel-default'>
                                    @if (widget.DisplayTitle != "")
                                    {
                                        <div class='panel-heading'>
                                            @_T[widget.DisplayTitle]
                                        </div>
                                    }
                                    <div class='panel-body'>
                                        @Html.Raw(widget.RenderBody())
                                    </div>
                                    @if (widget.Footer != "")
                                    {
                                        <div class='panel-footer'>
                                            @_T[widget.Footer]
                                        </div>
                                    }
                                </div>
                            }
                            else
                            {
                                <div>
                                    @Html.Raw(widget.RenderBody())
                                </div>
                            }
                        }
                    }
                }
            </div>
        }
    }
</div>
<!-- Full Width Slider End -->