<nav id="mainNavbar" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">@ThemeHelper.GetWebSiteName()</div>
        </div>
        <div class="navbar-collapse collapse">
            <form asp-controller="Search" asp-action="Index" method="get" class="navbar-form navbar-right">
                <div class="input-group">
                    <input type="text" name="q" id="q" class="form-control" value="@ViewBag.Q" placeholder="Search for..." aria-label="Search for..." />
                    <span class="input-group-btn">
                        <input type="submit" class="btn btn-primary" value="Search" />
                    </span>
                </div>
            </form>
            @Html.Raw(ThemeHelper.PrepareMenuHtml("Navigation", LanguageDetector.GetCurrentLanguage()))
            @await Html.PartialAsync("_SiteLoginPartial")
        </div>
    </div>
</nav>

<div style="margin-top:70px;"></div>   