<div style='height:40px; width:100%; text-align:center; padding: 5px 10px;'> 
    <a href='/CmsHome'>Home</a> | 
    <a href='/About'>About</a> | 
    <a href='/Contact'>Contact</a> | 
    <a href='/Admin'>Admin</a>   
</div>
