<div style='height:20px; width:100%; text-align:center; padding: 5px 10px;'>
    <marquee behavior="scroll" direction="left">
        <img src="http://www.html.am/images/html-codes/marquees/fish-swimming.gif" width="74" height="30" alt="Swimming fish" />
    </marquee>
</div>