<div style='height:20px; width:100%; text-alight:right; padding: 5px 10px;'>
    <div style='float:right;'>
        <a href='http://google.com/+NetCoreCMS'> Google Plus </a> | 
        <a href='http://facebook.com/NetCoreCMS'> Facebook </a> | 
        <a href='http://twitter.com/NetCoreCMS'> Twitter </a> 
    </div> 
</div>