<div style='height:20px; width:100%; text-alight:right; padding: 5px 10px;'>
    <div style='float:right;'>
        <a href='http://google.com/+'> Google Plus </a> | 
        <a href='http://facebook.com/tecrt'> Facebook </a> | 
        <a href='http://twitter.com/tecrt'> Twitter </a> 
    </div> 
</div>