@using NetCoreCMS.Notice.Models
@model NccNotice
@{
    Layout = Constants.AdminLayoutName;
    ViewData["PageTitle"] = "Notice Create";
    ViewData["PageSubtitle"] = "Create a new notice";
    if (Model.Id > 0)
    {
        ViewData["PageTitle"] = "Notice Edit";
        ViewData["PageSubtitle"] = "Update content of a notice";
    }
}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                @ViewData["PageSubtitle"]
                <div class="pull-right">
                    @if (Model.Id > 0)
                    {
                        <a asp-controller="NoticeHome" asp-action="CreateEdit" asp-route-id="" class="btn btn-outline btn-success btn-xs">New Notice</a>
                    }
                    <a asp-controller="NoticeHome" asp-action="Manage" class="btn btn-outline btn-primary btn-xs">Manage Notice</a>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <form id="noticeCreateEditForm" class="form-horizontal" asp-controller="NoticeHome" asp-action="CreateEdit" method="post">
                        <div class="col-sm-8 pull-left">
                            <div class="col-md-12">
                                <span asp-validation-summary="ValidationSummary.All" class="text-danger"></span>
                                <input type="hidden" id="Id" name="Id" value="@Model.Id" />
                            </div>
                            <div>
                                <label>Notice Name </label>
                                <input type="text" class="form-control" asp-for="Name" placeholder="Enter notice name">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div>
                                <label>Notice Title </label>
                                <input type="text" class="form-control" id="Title" name="Title" asp-for="Title" placeholder="Enter Page Title">
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                            <div>
                                <label>Notice Content</label>
                                <input type="text" id="Content" name="Content" asp-for="Content" class="form-control" data-val="false" placeholder="Enter Content"></input>
                                <span asp-validation-for="Content" class="text-danger"></span>
                            </div>

                            <div>
                                <label>Publish Date</label>
                                <input type="text" class="form-control" asp-for="PublishDate" value="@Model.PublishDate.ToString("yyyy-MM-dd HH:mm")"></input>
                            </div>

                            <div>
                                <label>Expire Date</label>
                                <input type="text" class="form-control" asp-for="ExpireDate" value="@Model.ExpireDate.ToString("yyyy-MM-dd HH:mm")"></input>
                            </div>

                            <div>
                                <label>Notice Order</label>
                                <input type="text" class="form-control" asp-for="NoticeOrder"></input>
                            </div>

                            <div>
                                <label>Notice Type</label>
                                <input type="text" class="form-control" asp-for="NoticeType"></input>
                            </div>

                            <div>
                                <label>Notice Status</label>
                                <input type="text" class="form-control" asp-for="NoticeStatus"></input>
                            </div>

                            <div>
                                <input type="submit" class="btn btn-primary"></input>
                            </div>

                        </div>


                    </form>

                </div>
                <!-- /.row (nested) -->
            </div>
        </div>
    </div>
</div>
