@using NetCoreCMS.Framework.Utility
@using NetCoreCMS.HelloWorld.Controllers

@{
    Layout = Constants.SiteLayoutName;    
}

<h1> Holaaaaaaaaa !!! It's a sample module</h1>
Translation file <h4>@_T["FileName"]</h4>
<hr/>