
@{ 
    ViewData["Title"] = "Advanced Permission System";
    ViewData["PageTitle"] = "Manage permission by module controller action.";
    var expand = true;
}

<style>
    
    .menu .accordion-heading {
        position: relative;
    }

    .menu .accordion-heading .edit {
        position: absolute;
        top: 8px;
        right: 30px;
    }

    .menu .area {
        border-left: 4px solid #f38787;
        height: 30px;
        padding-top:5px;
        padding-left: 10px;
        margin-bottom: 5px;
    }

    .menu .equipamento {
        border-left: 4px solid #65c465;
        margin-left: 30px;
        height: 30px;
        padding-top: 5px;
        padding-left: 10px;
        margin-bottom: 5px;
    }

    .menu .ponto {
        border-left: 4px solid #98b3fa;
        height: 30px;
        padding-top: 5px;
        padding-left: 10px;
        margin-bottom: 5px;
        margin-left: 60px;
    }

    .menu .collapse.in {
        overflow: visible;
    }

    .accordion-inner .nav-list{
        margin-left: 80px;
    }

</style>

<select asp-items="ViewBag.Roles" class="form-control">
    <option>Select Role</option>
</select>

<select asp-items="ViewBag.Users" class="form-control">
    <option>Select User</option>
</select>

@{ 
    var modules = ((List<IModule>)ViewBag.Modules);
}
<div class="menu">

    @for (var i = 0; i < modules.Count; i++)
    {
        var module = modules[i];
        var moduleTitle = module.ModuleTitle;
        var menus = module.Menus.OrderBy(x => x.Type).ToList();

        <div class="accordion">	
		    <!-- Áreas -->
	        <div class="accordion-group">
		        <!-- Área -->
		        <div class="accordion-heading area">
			        <a class="accordion-toggle collapsed" data-toggle="collapse" aria-expanded="false" href="#area-@i">@moduleTitle Module</a>
		        </div>
                <!-- /Área -->

                <div class="accordion-body collapse" id="area-@i" aria-expanded="false" style="height: auto;">			
				    <div class="accordion-inner">

                        @for (var j = 0; j < menus.Count; j++)
                        {
                            var menu = menus[j];
                            var dn = menu.DisplayName + " (" + menu.Type + ")";
                            var menuItems = menu.MenuItems;

                            <div class="accordion" id="equipamento-@i-@j">
						        <!-- Equipamentos -->
                                <div class="accordion-group">
                                    <div class="accordion-heading equipamento">
                                        <a class="accordion-toggle" data-parent="#equipamento-@i-@j" data-toggle="collapse" aria-expanded="false" href="#ponto-@i-@j">@dn</a>
                                    </div>

                                    <div class="accordion-body collapse" id="ponto-@i-@j" aria-expanded="false" style="height:auto;">
                                        <div class="accordion-inner">
                                            <div class="accordion" id="menu-@i-@j">

                                                <div class="accordion-group">
                                                    <div class="accordion-heading ponto">
                                                        <a class="accordion-toggle" data-parent="#menu-@i-@j" data-toggle="collapse" aria-expanded="false" href="#menuItem-@i-@j">@menu.Type</a>
                                                        <!-- Adicionar servico -->
                                                    </div>
                                                </div>
                                                <div class="accordion-body in collapse" id="menuItem-@i-@j" aria-expanded="false" style="height: auto;">
                                                    <div class="accordion-inner">
                                                        @for (var k = 0; k < menuItems.Count; k++)
                                                        {
                                                            var si = menuItems[k];
                                                            var action = si.DisplayName;
                                                            
                                                        <!-- Serviços -->

                                                                <ul class="nav nav-list">
                                                                    <li>
                                                                        <a href="#">
                                                                            <i class="icon-chevron-right">
                                                                            </i> @action
                                                                        </a>
                                                                    </li>
                                                                </ul>

                                                        <!-- /Serviços --> 
                                                        }
                                                    </div>
                                                </div>
                                            </div>



                                        </div>
                                    </div>
                                </div>

						        <!-- /Equipamentos --> 
					        </div>
                        }
                    </div>
			    </div>
            </div>		
	    </div>
    }

</div>

