<div class="form-group">
    <label class="col-sm-3 control-label">Order</label>
    <div class="col-sm-9">
        <select class="form-control" name="displayOrder" id="displayOrder">
            <option value=0>Ascending</option>
            <option value=1>Descending</option>
        </select>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-6 control-label">Show post count</label>
    <div class="col-sm-6">
        <input type="checkbox" id="showPostCount" name="showPostCount" />
    </div>
</div>
@*<div class="form-group">
    <label class="col-sm-6 control-label">Display as dropdown</label>
    <div class="col-sm-6">
        <input type="checkbox" id="displayAsDropdown" name="displayAsDropdown" />
    </div>
</div>*@