<div class="form-group">
    <label class="col-sm-3 control-label">Post Count</label>
    <div class="col-sm-9">        
        <input type="number" class="form-control" id="postCount" name="postCount" placeholder="Enter post count" />
    </div>
</div>
<div class="form-group">
    <label class="col-sm-3 control-label">Show Date</label>
    <div class="col-sm-9">
        <input type="checkbox" id="isDateShow" name="isDateShow" />
    </div>
</div>
