<div class="form-group">
    <label class="col-sm-3 control-label">Comments Count</label>
    <div class="col-sm-9">        
        <input type="number" class="form-control" id="commentsCount" name="commentsCount" placeholder="Enter comments count" />
    </div>
</div>
