@using NetCoreCMS.Modules.Setup.Models.ViewModels
@model AdminViewModel

@{
    Layout = null;
}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NetCoreCMS Setup</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    <link href="/NetCoreCMS.Modules.Setup/css/Style.css" rel="stylesheet" />
    <script src="/NetCoreCMS.Modules.Setup/js/Setup.js"></script>
    <script src="/lib/jquery-validation/dist/jquery.validate.js"></script>
    <style>
        input {
            max-width: 800px !important;
        }
    </style>
</head>



<body>

    <!-- Begin page content -->
    <div class="container">
        <div class="page-header text-center">
            <h1>NetCoreCMS Setup</h1>
        </div>
        <p class="lead text-center">This is the NetCoreCMS Setup Page. Please fill the following information and press submit to complete the setup process.</p>
        @*<hr />*@
        <form class="form-horizontal" asp-controller="SetupHome" asp-action="CreateAdmin" method="post">
            <span asp-validation-summary="ValidationSummary.All" class="text-danger"></span>
            <div class="form-group">
                <label class="control-label col-sm-2" for="SiteName">Site Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="SiteName" name="SiteName" asp-for="SiteName" placeholder="Enter Site Name">
                    <span asp-validation-for="SiteName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="Slogan">Slogan:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="Slogan" name="Slogan" asp-for="Slogan" placeholder="Enter Slogan">
                    <span asp-validation-for="Slogan" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="SetupTemplate">Website Template:</label>
                <div class="col-sm-10">
                    <select asp-for="SetupTemplate" type="text" class="form-control" id="SetupTemplate" name="SetupTemplate">
                        <option value="">Select your template</option>
                        <option value="Basic">Basic</option>
                        <option value="Blog">Blog</option>
                        <option value="PersonalProfile">Personal Profile</option>
                        <option value="CompanyWebsite">Company Website</option>
                        <option value="CRM">CRM</option>
                        <option value="EcommarceSite">Ecommarce Site</option>
                    </select>
                    <span asp-validation-for="SetupTemplate" class="text-danger"></span>
                </div>
            </div>
            
            <div class="form-group">
                <label class="control-label col-sm-2" for="AdminUserName">Admin UserName:</label>
                <div class="col-sm-10">
                    <input asp-for="AdminUserName" type="text" class="form-control" id="AdminUserName" name="AdminUserName" placeholder="Enter Admin UserName">
                    <span asp-validation-for="AdminUserName" class="text-danger"></span>
                </div>
            </div> 
            <div class="form-group">
                <label class="control-label col-sm-2" for="AdminPassword">Admin Password:</label>
                <div class="col-sm-10">
                    <input asp-for="AdminPassword" type="password" class="form-control" id="AdminPassword" name="AdminPassword" placeholder="Enter Admin Password">
                    <span asp-validation-for="AdminPassword" class="text-danger"></span>
                </div>
            </div> 
            <div class="form-group">
                <label class="control-label col-sm-2" for="ConfirmPassword">Confirm Password:</label>
                <div class="col-sm-10">
                    <input asp-for="ConfirmPassword" type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" placeholder="Enter Confirm Password">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div> 
            <div class="form-group">
                <label class="control-label col-sm-2" for="Email">Email:</label>
                <div class="col-sm-10">
                    <input asp-for="Email" type="Email" class="form-control" id="Email" name="Email" placeholder="Enter Email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>            
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="reset" class="btn btn-default">Clear</button>
                </div>
            </div>
        </form>
    </div>

    <footer class="footer">
        <div class="container">
            <p class="text-muted text-center">Developed by <a href="@NccInfo.Website" title="@NccInfo.Author" target="_blank">@NccInfo.Author</a>.</p>
        </div>
    </footer>
</body>
</html>


@*<link href="/NetCoreCMS.Modules.Setup/css/Style.css" rel="stylesheet" />
<script src="/NetCoreCMS.Modules.Setup/js/Setup.js"></script>
<script src="/lib/jquery-validation/dist/jquery.validate.js"></script>
<h4> NetCoreCMS Setup </h4>
<hr/>
<form asp-controller="SetupHome" asp-action="Index" method="post">
    <span asp-validation-summary="ValidationSummary.All" class="text-danger"></span>
    <div class="form-group">
        <label for="SiteName">Site Name</label>
        <input type="text" class="form-control" id="SiteName" name="SiteName" asp-for="SiteName">
        <span asp-validation-for="SiteName" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label for="Database">Database</label>
        <select asp-for="Database" type="text" class="form-control" id="Database" name="Database" >
            <option value="">Select your database engine</option>
            <option value="SQLite">SQLite</option>
            <option value="MsSqlLocalStorage">MsSqlLocalStorage</option>
            <option value="MsSql">MsSql</option>
            <option value="MySql">MySql</option>
            <option value="PgSql">PgSql</option>
        </select>
        <span asp-validation-for="Database" class="text-danger"></span>
    </div>

    <div id="databaseInfo" class="DatabaseInfo">
        <div class="form-group">
            <label for="DatabaseHost">Database Host</label>
            <input asp-for="DatabaseHost" type="text" class="form-control" id="DatabaseHost" name="DatabaseHost">
            <span asp-validation-for="DatabaseHost" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="siteName">Database Port</label>
            <input asp-for="DatabasePort" type="text" class="form-control" id="DatabasePort" name="DatabasePort">
            <span asp-validation-for="DatabasePort" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="DatabaseUserName">DatabaseUserName</label>
            <input asp-for="DatabaseUserName" type="text" class="form-control" id="DatabaseUserName" name="DatabaseUserName">
            <span asp-validation-for="DatabaseUserName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="DatabasePassword">Database Password</label>
            <input asp-for="DatabasePassword" type="text" class="form-control" id="DatabasePassword" name="DatabasePassword">
            <span asp-validation-for="DatabasePassword" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="DatabaseName">Database Name</label>
            <input asp-for="DatabaseName" type="text" class="form-control" id="DatabaseName" name="DatabaseName">
            <span asp-validation-for="DatabaseName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label for="AdminUserName">Admin User Name</label>
        <input asp-for="AdminUserName" type="text" class="form-control" id="AdminUserName" name="AdminUserName">
        <span asp-validation-for="AdminUserName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="AdminPassword">Admin Password</label>
        <input asp-for="AdminPassword" type="password" class="form-control" id="AdminPassword" name="AdminPassword">
        <span asp-validation-for="AdminPassword" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="ConfirmPassword">ConfirmPassword</label>
        <input asp-for="ConfirmPassword" type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword">
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Email">Email</label>
        <input asp-for="Email" type="Email" class="form-control" id="Email" name="Email">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
</form>*@
