@{
    Layout = "_FrontendLayout";
}

<h1> NetCoreCMS Setup </h1>
<hr/>
<form>
    
    <div class="form-group">
        <label for="siteName">Site Name</label>
        <input type="text" class="form-control" id="siteName">
    </div>
    
    <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd">
    </div>

    <div class="checkbox">
        <label><input type="checkbox"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>