@using NetCoreCMS.Framework.Utility
@using System.Collections
@using System.Text
@using System.Linq

@model NccPage
@{

    if (!string.IsNullOrEmpty(Model.Layout) && GlobalConfig.ActiveTheme.Layouts.Where(x=>x.Name == Model.Layout).FirstOrDefault() != null) {
        Layout = "_" + Model.Layout;
    }

    ViewData["PageTitle"] = "Page Manage";
    ViewData["PageSubtitle"] = "Manage pages";
}

<script src="~/lib/ckeditor/ckeditor.js"></script>
<link href="/NetCoreCMS.Modules.Cms/css/page.css" rel="stylesheet" />
<script src="/NetCoreCMS.Modules.Cms/js/managePage.js"></script>
 
<div class="row">
    <div class="col-lg-12"> 
        <p>
            @Html.Raw(Encoding.UTF8.GetString(Model.Content))
        </p> 
    </div>
</div>
 
@section Scripts{
    <link href="~/lib/DataTables/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/lib/DataTables/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/lib/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/lib/DataTables/dataTables.bootstrap.min.js"></script>
}
