@using NetCoreCMS.Framework.Utility
@using System.Collections
@using System.Text
@using System.Linq

@model NccPage
@{

    if (!string.IsNullOrEmpty(Model.Layout) && GlobalConfig.ActiveTheme.Layouts.Where(x=>x.Name == Model.Layout).FirstOrDefault() != null) {
        Layout = "_" + Model.Layout;
    }
    ViewData["Title"] = Model.Title;
}
 
@section Styles{
    <style>
       @Html.Raw("        div{            color:green !important;        }");
    </style>
}
<div class="row">
    @Html.Raw(Model.Content)
</div>
 
@section Scripts{

}
