@using NetCoreCMS.Framework.Utility
@using System.Collections
@using System.Text
@using System.Linq

@model NccPage
@{

    if (!string.IsNullOrEmpty(Model.Layout) && GlobalConfig.ActiveTheme.Layouts.Where(x=>x.Name == Model.Layout).FirstOrDefault() != null) {
        Layout = "_" + Model.Layout;
    }
    else
    {
        Layout = "_DefaultLayout";
    }
    ViewData["Title"] = Model.Title;
}
 
<div class="row">
    <div class="col-lg-12"> 
        <p>
            @Html.Raw(Model.Content)
        </p> 
    </div>
</div>
 
@section Scripts{

}
