@using NetCoreCMS.Notice.Models
@using System.Collections

@model List<NccNotice>

<div style='width:100%; text-align:center; overflow:hidden; max-height:100px;'>
    <marquee behavior="scroll" direction="up" scrollamount="5" height="100">
        @foreach (var item in Model)
        {
            <div><a href="~/NoticeHome/Details/?id=@item.Id">@item.Title</a></div>
        }
        <div><a href="~/NoticeHome/Index">View All</a></div>    
    </marquee>
</div>
