<div class="form-group">
    <label class="col-sm-6 control-label">Show category has post</label>
    <div class="col-sm-6">
        <input type="checkbox" id="showCategoryHasPost" name="showCategoryHasPost" />
    </div>
</div>
<div class="form-group">
    <label class="col-sm-6 control-label">Show post count</label>
    <div class="col-sm-6">
        <input type="checkbox" id="showPostCount" name="showPostCount" />
    </div>
</div>
@*<div class="form-group">
    <label class="col-sm-6 control-label">Show hierarchy</label>
    <div class="col-sm-6">
        <input type="checkbox" id="showHierarchy" name="showHierarchy" />
    </div>
</div>
<div class="form-group">
    <label class="col-sm-6 control-label">Display as dropdown</label>
    <div class="col-sm-6">
        <input type="checkbox" id="displayAsDropdown" name="displayAsDropdown" />
    </div>
</div>*@