@using NetCoreCMS.Framework.Utility
@using NetCoreCMS.Framework.Core
@model NccWebSite
@{
    Layout = Constants.AdminLayoutName;
}

<h1> @NccInfo.Name Settings </h1>

<div class="row">
    <form class="form-horizontal" asp-controller="Admin" asp-action="Index" method="post">
        <span asp-validation-summary="ValidationSummary.All" class="text-danger"></span>
        <input type="hidden" class="form-control" id="Id" name="Id" asp-for="Id" >
        <div class="form-group">
            <label class="control-label col-sm-2" for="SiteName">Site Name:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="Name" name="Name" asp-for="Name" placeholder="Enter Site Name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        
        <div class="form-group">
            <label class="control-label col-sm-2" for="SiteTitle">Site Title:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="SiteTitle" name="SiteTitle" asp-for="SiteTitle" placeholder="Enter Site Title">
                <span asp-validation-for="SiteTitle" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="Tagline">Tagline:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="Tagline" name="Tagline" asp-for="Tagline" placeholder="Enter Tagline">
                <span asp-validation-for="Tagline" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="FaviconUrl">Favicon URL:</label>
            <div class="col-sm-10">
                <input asp-for="FaviconUrl" type="text" class="form-control" id="FaviconUrl" name="FaviconUrl" placeholder="Enter Favicon Url">
                <span asp-validation-for="FaviconUrl" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="SiteLogoUrl">Site Logo URL:</label>
            <div class="col-sm-10">
                <input asp-for="SiteLogoUrl" type="text" class="form-control" id="SiteLogoUrl" name="SiteLogoUrl" placeholder="Enter Site Logo Url">
                <span asp-validation-for="SiteLogoUrl" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="DomainName">Website URL:</label>
            <div class="col-sm-10">
                <input asp-for="DomainName" type="text" class="form-control" id="DomainName" name="DomainName" placeholder="Enter Website URL">
                <span asp-validation-for="DomainName" class="text-danger"></span>
            </div>
        </div>
        
        <div class="form-group">
            <label class="control-label col-sm-2" for="Email">Email:</label>
            <div class="col-sm-10">
                <input asp-for="EmailAddress" type="Email" class="form-control" id="EmailAddress" name="EmailAddress" placeholder="Enter Email">
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
        </div>
        
        <div class="form-group">
            <label class="control-label col-sm-2" for="Email">Allow User Registration:</label>
            <div class="col-sm-10">
                <input asp-for="AllowRegistration" type="checkbox" class="form-control" id="AllowRegistration" name="AllowRegistration" >
                <span asp-validation-for="AllowRegistration" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="SetupTemplate">New User Role:</label>
            <div class="col-sm-10">
                <select asp-for="NewUserRole" type="text" class="form-control" id="NewUserRole" name="NewUserRole">
                    <option value="">Select new user role</option>
                    <option value="Administrator">Administrator</option>
                    <option value="Author">Author</option>
                    <option value="Editor">Editor</option>
                    <option value="Contributor">Contributor</option>  
                    <option value="Reader">Subscriber</option>  
                    
                </select>
                <span asp-validation-for="NewUserRole" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="TimeZone">TimeZone:</label>
            <div class="col-sm-10">
                <select asp-for="TimeZone" type="text" class="form-control" id="TimeZone" name="TimeZone">
                    <option value="">Select TimeZone</option>
                    <option value="UTC_6">UTC +6</option>
                    <option value="UTC_1">UTC 1</option>                    
                </select>
                <span asp-validation-for="TimeZone" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="Language">Language:</label>
            <div class="col-sm-10">
                <select asp-for="Language" type="text" class="form-control" id="Language" name="Language">
                    <option value="">Select Language</option>
                    <option value="en_US">English US</option>
                    <option value="bn_BD">Bangla BD</option>
                </select>
                <span asp-validation-for="Language" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="DateFormat">Date Format:</label>
            <div class="col-sm-10">
                <input asp-for="DateFormat" type="text" class="form-control" id="DateFormat" name="DateFormat">
                <span asp-validation-for="DateFormat" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="TimeFormat">Time Format:</label>
            <div class="col-sm-10">
                <input asp-for="TimeFormat" type="text" class="form-control" id="TimeFormat" name="TimeFormat">
                <span asp-validation-for="TimeFormat" class="text-danger"></span>
            </div>
        </div>
         
        <div class="form-group">
            <label class="control-label col-sm-2" for="Copyrights">Copyrights:</label>
            <div class="col-sm-10">
                <input asp-for="Copyrights" type="text" class="form-control" id="Copyrights" name="Copyrights">
                <span asp-validation-for="Copyrights" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="PrivacyPolicyUrl">Privacy Policy URL:</label>
            <div class="col-sm-10">
                <input asp-for="PrivacyPolicyUrl" type="text" class="form-control" id="PrivacyPolicyUrl" name="PrivacyPolicyUrl">
                <span asp-validation-for="PrivacyPolicyUrl" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="TermsAndConditionsUrl">Terms and Conditions URL:</label>
            <div class="col-sm-10">
                <input asp-for="TermsAndConditionsUrl" type="text" class="form-control" id="TermsAndConditionsUrl" name="TermsAndConditionsUrl">
                <span asp-validation-for="TermsAndConditionsUrl" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-default">Clear</button>
            </div>
        </div>

    </form>
</div>  
       