@using NetCoreCMS.Modules.Admin.Models.ViewModels


@{
    Layout = Constants.AdminLayoutName;
    ViewData["PageTitle"] = "Logging";
    ViewData["PageSubtitle"] = "Set Log Level and Download Log";
}

<div class="row">
    <div class="col-sm-12">
        <form class="form-horizontal" asp-controller="Admin" asp-action="Startup" method="post">
            
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3 text-right">
                        <label>Log Level: </label>
                    </div>
                    <div class="col-sm-5">
                        <select id="logLevel" name="logLevel" class="form-control">
                            <option value="Debug">Debug</option>
                            <option value="Information">Info</option>
                            <option value="Warning">Warning</option>
                            <option value="Error">Error</option>
                            <option value="Critical">Critical</option>
                        </select>
                    </div>
                </div>                                                
            </div>
            
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3 text-right">
                        <label>Download all logs: </label>
                    </div>
                    <div class="col-sm-5">
                        <a href="/Admin/DownloadLog">Download All Log File</a>
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3 text-right">
                        <label>Download single day log: </label>
                    </div>
                    <div class="col-sm-5">
                        <select id="logFiles" name="logFiles" class="form-control">
                            <option>Select a post</option>
                        </select>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-sm-3 text-right">
                        
                    </div>
                    <div class="col-sm-5">
                        <input class="btn btn-primary" type="submit" value="Download" />
                    </div>
                </div>                
            </div>            
        </form>
    </div>    
</div>
     