@using NetCoreCMS.Framework.Utility
@{
    Layout = Constants.SiteLayoutName;
}


<div class="row">

    <div class="col-lg-12">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">

                </div>
                <div class="panel-body">

                </div>
            </div>
        </div>
        <div class="col-lg-4">

            <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading">
                    <ul class="nav nav-tabs">
                    @foreach (var layout in GlobalConfig.ActiveTheme.Layouts)
                    {
                        <li>
                            <a href="#tab1@layout.Name" data-toggle="tab"> @layout.Name </a>
                        </li>                        
                     }
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        
                        @foreach (var layout in GlobalConfig.ActiveTheme.Layouts)
                        {
                            <div class="tab-pane fade active in" id="tab1@layout.Name">
                                @foreach (var zone in layout.WidgetSections)
                                {
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            @zone
                                        </div>
                                        <div class="panel-body">
                                            Drop widget here
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>