<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Title - NetCoreCMS Admin</title>
    
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />

    <!-- MetisMenu CSS -->
    <link rel="stylesheet" href="~/css/metisMenu.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/sb-admin-2.min.css">
    <!-- Custom Fonts -->
    <link rel="stylesheet" type="text/css" href="~/lib/font-awesome/css/font-awesome.min.css">

    <link href="~/lib/css-loader/dist/css-loader.css" rel="stylesheet" />
    
    <!-- jQuery -->
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery-serializeObject/jquery.serializeObject.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>

    <link href="~/css/ncc-common.css" rel="stylesheet" />
    <script src="~/js/ncc-common.js" asp-append-version="true"></script>
    <script src="~/lib/notifyjs/notify.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    @RenderSection("Styles", required: false)
</head>

<body>
    @RenderBody()
    
    @RenderSection("Scripts", required: false)
</body>
</html>


