<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</button>
<div id="navbarWebsiteName" class="navbar-brand navbar-brand-with-top-menu">@ThemeHelper.GetWebSiteName((string)this.ViewContext.HttpContext.Items["currentLanguage"])</div>