<div class="form-group">
    <label class="col-sm-3 control-label">Text/Html</label>
    <div class="col-sm-9">        
        <textarea class='form-control' id='bodyContent' name='bodyContent' cols='5' rows='5' placeholder="Enter Text or Html"></textarea>
    </div>
</div>
