<div class="row">
    <div class="col-md-12">
        <form asp-controller="Search" asp-action="Index" method="get">
            <div class="input-group">
                <input type="text" name="q" id="q" class="form-control" value="@ViewBag.Q" placeholder="Search for..." aria-label="Search for..." />
                <span class="input-group-btn">
                    <input type="submit" class="btn btn-primary" value="Search" />
                </span>
            </div>
        </form>
    </div>
</div>