<ul>
    <li><a href='/CmsHome'>Home</a></li>
    <li><a href='/CmsPage'>Pages</a></li>
    <li><a href='/Post/'>Posts</a></li>
    <li><a href='/CmsPage/View/?Id=About'>About</a></li>
    <li><a href='/CmsPage/View/?Id=Contact'>Contact</a></li>    
</ul>