<ul>
    <li><a href='/CmsHome'>Home</a></li>    
    <li><a href='/Post/'>Posts</a></li>
    <li><a href='/NeNews'>News</a></li>
    <li><a href='/CmsPage/Index/?slug=About'>About</a></li>
    <li><a href='/CmsPage/Index/?slug=Contact'>Contact</a></li>    
</ul>