body {
    overflow-x: hidden;
}
.home{
    border:solid 1px;
}

.navbar-right{
    margin-right: 0px;
}

.navbar-fixed-top{
    z-index: 10000;
}

.navbar-inverse {
    background-color: #23282d !important;
    border-color: #23282d !important;
}

/*
 * Main content
 */
.main {
    padding: 20px;
    /*min-height: 85vh;*/
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.main .page-header {
    margin-top: 0;
}
