@using NetCoreCMS.Framework.Utility
@{
    Layout = Constants.SettingsLayoutName;
}

<link href="/NetCoreCMS.Modules.Cms/css/menu.css" rel="stylesheet" />
<script src="/NetCoreCMS.Modules.Cms/js/menu.js"></script>

<ol class="breadcrumb">
    <li><a asp-controller="Settings" asp-action="Index">Settings</a></li>
    <li><a href="#">Appearance</a></li>
    <li><a asp-controller="CmsMenu" asp-action="Index">Menu</a></li>
</ol>

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#createMenu">Create Menu</a></li>
    <li><a data-toggle="tab" href="#manageMenu">Manage</a></li>
</ul>

<div class="tab-content">
    <div id="manageMenu" class="tab-pane fade" style="padding: 10px 10px;">
        @await  Html.PartialAsync("Partial/_ManageMenu")
    </div>
    <div id="createMenu" class="tab-pane fade in active" style="padding: 10px 10px;">
        <div class="row">
            @await Html.PartialAsync("Partial/_MenuSelectionPanel")
            @await Html.PartialAsync("Partial/_MenuSelectionTree")
        </div>
    </div> 
</div>

<script src="~/lib/jquery-ui/jquery-ui.js"></script>
<link href="/NetCoreCMS.Modules.Cms/css/nastedDragDrop.css" rel="stylesheet" />
<script src="/NetCoreCMS.Modules.Cms/js/nestedDragDrop.js"></script>
<script src="~/lib/jquery-sortable/source/js/jquery-sortable-min.js"></script>
<link href="~/lib/DataTables/DataTables-1.10.13/css/dataTables.bootstrap.css" rel="stylesheet" />
<script src="~/lib/DataTables/datatables.js"></script>
<script src="~/lib/DataTables/DataTables-1.10.13/js/dataTables.bootstrap.js"></script>
