
<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group">
            <label class="col-sm-3 control-label">Category</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="category" name="category" placeholder="Enter Category">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">News Count</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="newsCount" name="newsCount" placeholder="Enter News Count">
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <h4 style="text-align:center;margin-top:-7px;margin-bottom:-10px;">Header</h4>
        <hr />
        <div class="form-group">
            <label class="col-sm-3 control-label">Text</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="headerTitle" name="headerTitle" placeholder="Enter Head">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Color</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="headerColor" name="headerColor" placeholder="Enter Color #000000">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">BG</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="headerBgColor" name="headerBgColor" placeholder="Enter Color #000000">
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <h4 style="text-align:center;margin-top:-7px;margin-bottom:-10px;">Body</h4>
        <hr />
        <div class="form-group">
            <label class="col-sm-3 control-label">Column Class</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="columnClass" name="columnClass" placeholder="Enter column class col-md-6">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Color</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="columnColor" name="columnColor" placeholder="Enter column Color #000000">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">BG Color</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="columnBgColor" name="columnBgColor" placeholder="Enter column Color #000000">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Scroll amount</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="scrollamount" name="scrollamount" value="5">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Height</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="height" name="height" placeholder="Enter height">
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <h4 style="text-align:center;margin-top:-7px;margin-bottom:-10px;">Footer</h4>
        <hr />
        <div class="form-group">
            <label class="col-sm-3 control-label">Text</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="footerTitle" name="footerTitle" placeholder="Enter Footer Text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Color</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="footerColor" name="footerColor" placeholder="Enter Color #000000">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">BG</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="footerBgColor" name="footerBgColor" placeholder="Enter Color #000000">
            </div>
        </div>
    </div>
</div>

