@using NetCoreCMS.HelloWorld.Models
@model NccNotice

<div class="panel-body">
    <div class="row">
        <form id="noticeCreateEditForm" class="form-horizontal" asp-controller="NoticeHome" asp-action="Create" method="post">

            <div class="col-sm-8 pull-left">
                <div class="col-md-12">
                    <span asp-validation-summary="ValidationSummary.All" class="text-danger"></span>
                    <input type="hidden" id="Id" name="Id" value="@Model.Id" />
                    <div >
                        <label>Notice Name: </label>
                        <input type="text" class="form-control" asp-for="Name" placeholder="Enter notice name">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div> 
                    <div class="form-group input-group">
                        <span class="input-group-addon">Notice Title: </span>
                        <input type="text" class="form-control" id="Title" name="Title" asp-for="Title" placeholder="Enter Page Title">
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div> 
                </div>

                <div>
                    <label>Notice Content</label>
                    <input type="text" id="Content" name="Content" asp-for="Content" class="form-control" data-val="false">@Model.Content</input>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>

                <div>
                    <label>Publish Date</label>
                    <input type="text" class="form-control" asp-for="PublishDate"></input>
                </div>

                <div>
                    <label>Expire Date</label>
                    <input type="text" class="form-control" asp-for="ExpireDate"></input>
                </div>

                <div>
                    <label>Notice Order</label>
                    <input type="text" class="form-control" asp-for="NoticeOrder"></input>
                </div>

                <div>
                    <label>Notice Type</label>
                    <input type="text" class="form-control" asp-for="NoticeType"></input>
                </div>

                <div>
                    <label>Notice Status</label>
                    <input type="text" class="form-control" asp-for="NoticeStatus"></input>
                </div>

                <div> 
                    <input type="submit"  ></input>
                </div>

            </div>

            
        </form>

    </div>
    <!-- /.row (nested) -->
</div>