@using NetCoreCMS.Notice.Models

@model NccNotice
@{
    Layout = Constants.SiteLayoutName;
}
<div>
    <h3>@Model.Title</h3>
    <h5>@Model.PublishDate</h5>
    <hr/>
    <p>
        @Model.Content
    </p>
</div>