<div class="Featured">
    @{
        var featured = GlobalConfig.WebSiteWidgets.Where(x => x.Zone == "Featured" && x.LayoutName == ViewBag.CurrentLayout).ToList();
        if (featured != null && featured.Count > 0)
        {
            <div style="width:100%;">
                @foreach (var item in featured)
                {
                    var widgets = GlobalConfig.Widgets.Where(x => x.WidgetId == item.WidgetId).ToList();
                    foreach (var widget in widgets)
                    {
                        widget.Init();
                        @*<div>
                            <div class='panel panel-default'>
                                <div class='panel-heading'>
                                    @Html.Raw(widget.RenderTitle())
                                </div>
                                <div class='panel-body'>*@
                        @Html.Raw(widget.RenderBody())
                        @*</div>
                                    <div class='panel-footer'>
                                        @Html.Raw(widget.RenderFooter())
                                    </div>
                                </div>
                            </div>*@
                    }
                }
            </div>
        }
    }
</div>

<!-- Container for showing global messages. -->
<div class="row">
    <div id="globalMessageContainer" class="ncc-global-message">

    </div>
</div>