@using NetCoreCMS.UmsBdResult.Models
@model UmsBdResultSettings
@{
    Layout = Constants.AdminLayoutName;
    ViewData["PageTitle"] = "UmsBdResult Settings";
    ViewData["PageSubtitle"] = "Settings management";
}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                @ViewData["PageSubtitle"]
            </div>
            <div class="panel-body">
                <div class="row">
                    <form id="settingsCreateEditForm" class="form-horizontal" asp-controller="UmsBdResult" asp-action="Settings" method="post">
                        <div class="col-sm-8 pull-left">
                            <div class="col-md-12">
                                <span asp-validation-summary="ValidationSummary.All" class="text-danger"></span>
                                <input type="hidden" id="Id" name="Id" value="@Model.Id" />
                            </div>
                            <div>
                                <label>Base API Url</label>
                                <input type="text" class="form-control" asp-for="BaseApi" placeholder="Enter Base API Url">
                                <span asp-validation-for="BaseApi" class="text-danger"></span>
                            </div>
                            <div>
                                <label>ApiKey </label>
                                <input type="text" class="form-control" asp-for="ApiKey" placeholder="Enter ApiKey">
                                <span asp-validation-for="ApiKey" class="text-danger"></span>
                            </div>
                            <div>
                                <label>Organization Business Id</label>
                                <input type="text" asp-for="OrgBusinessId" class="form-control" data-val="false" placeholder="Enter Organization Business Id"></input>
                                <span asp-validation-for="OrgBusinessId" class="text-danger"></span>
                            </div>

                            <div>
                                <input type="submit" class="btn btn-primary"></input>
                            </div>
                        </div>
                    </form>

                </div>
                <!-- /.row (nested) -->
            </div>
        </div>
    </div>
</div>
