@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@using NetCoreCMS.Core.Modules.Cms
@using NetCoreCMS.Core.Modules.Cms.Models
@using NetCoreCMS.Core.Modules.Cms.Models.AccountViewModels
@using NetCoreCMS.Core.Modules.Cms.Models.ManageViewModels
@using Microsoft.AspNetCore.Identity
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NetCoreCMS Frontend</title>
        
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/Theme/Default/css/site.css" />
    <link href="~/lib/css-loader/dist/css-loader.css" rel="stylesheet" />
        
    @Html.Raw(JavaScriptSnippet.FullScript)
         
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/common.js" asp-append-version="true"></script>

</head>
<body>
    <div id="loadingMask" class="loader loader-double"></div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="CmsHome" asp-action="Index" class="navbar-brand">NetCoreCMS Frontend</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="CmsHome" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="CmsHome" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="CmsHome" asp-action="Contact">Contact</a></li>
                    <li><a asp-area="" asp-controller="CmsPage" asp-action="Index">Pages</a></li>
                    <li><a asp-area="" asp-controller="HelloHome" asp-action="Index">Hello World</a></li>
                </ul>
                @await Html.PartialAsync("_SiteLoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content topMargin">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - NetCoreCMS.Web</p>
        </footer>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
