.panel-group .panel {
    border-radius: 0;
    box-shadow: none;
    border-color: #EEEEEE;
}

/*.panel-default > .panel-heading {
    padding: 0;
    border-radius: 0;
    color: #212121;
    background-color: #FAFAFA;
    border-color: #EEEEEE;
}*/


.panel-title > a {
    display: block;
    text-decoration: none;
}

.more-less {
    float: right;
    color: #212121;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #EEEEEE;
}

.pagesCheckBoxList{
    max-height:300px;
    overflow:scroll;
}

#selectedMenuTree {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.no-boarder {
    border: none;
    padding: 2px 0px 0px 0px;
    margin-top: 2px;
}

.left-dash-boarder {
    border-left: dashed 1px #000000;
}

.menu-item-content{
    border: solid 1px #ddd;
    height:40px;
    padding: 5px 5px;
}

.ncc-menu-title{
    padding-left:10px;
}