<table id="menuListDt" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr><th>SN</th><th>Name</th><th>Order</th><th>Position</th><th>Action</th></tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Main Menu</td>
            <td>1</td>
            <td>Navigation</td>
            <td><a asp-controller="CmsMenu" asp-action="Index">Edit</a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Left Menu</td>
            <td>1</td>
            <td>Left</td>
            <td><a asp-controller="CmsMenu" asp-action="Index">Edit</a></td>
        </tr>
    </tbody>
</table>