
<div class="col-sm-8">
    <div class="panel panel-primary">

        <div class="panel-heading">
            <div class="col-sm-12">
                <div class="col-sm-7" style="padding-right:0px;">
                    <label class="pull-left" style="padding-left:0px;padding-top:5px;">Name:</label><input type="text" id="menuName" class="form-control input-sm col-sm-4 pull-right" />
                </div>
                <div class="col-sm-3">
                    <select id="menuLocation" class="form-control input-sm">
                        <option value="">Select Menu Location</option>
                        <option value="Top">Top</option>
                        <option value="Navigation">Navigation</option>
                        <option value="Left">Left</option>
                        <option value="Right">Right</option>
                        <option value="Footer">Footer</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <input type="button" id="saveMenuBtn" value="Save Menu" class="btn btn-sm btn-default pull-right" />
                </div>
                <div style="clear:both;"></div>
            </div>
            <div style="clear:both;"></div>
        </div>

        <div class="panel-body">
            <ul id="selectedMenuTree">
                <li class="list-group-item no-boarder" name="co 1">
                    <div class="menu-item-content"><i class="glyphicon glyphicon-move margin-right-10"></i>Company 1<i class="removeMenuItem glyphicon glyphicon glyphicon-remove pull-right"></i></div>
                </li>
                <li class="list-group-item no-boarder" name="co 2">
                    <div class="menu-item-content"><i class="glyphicon glyphicon-move margin-right-10"></i>Company 2<i class="removeMenuItem glyphicon glyphicon glyphicon-remove pull-right"></i></div>
                </li>
                <li class="list-group-item no-boarder" name="co 3">
                    <div class="menu-item-content"><i class="glyphicon glyphicon-move margin-right-10"></i>Company 3<i class="removeMenuItem glyphicon glyphicon glyphicon-remove pull-right"></i></div>
                    <ul>
                        <li class="list-group-item no-boarder" name="co 3.1">
                            <div class="menu-item-content"><i class="glyphicon glyphicon-move margin-right-10"></i>User 3.1<i class="removeMenuItem glyphicon glyphicon glyphicon-remove pull-right"></i></div>
                        </li>
                        <li class="list-group-item no-boarder" name="co 3.2">
                            <div class="menu-item-content"><i class="glyphicon glyphicon-move margin-right-10"></i>User 3.2<i class="removeMenuItem glyphicon glyphicon glyphicon-remove pull-right"></i></div>
                        </li>
                    </ul>
                </li>
                <li class="list-group-item no-boarder" name="co 4">
                    <div class="menu-item-content"><i class="glyphicon glyphicon-move margin-right-10"></i>Company 4<i class="removeMenuItem glyphicon glyphicon glyphicon-remove pull-right"></i></div>
                </li>
                <li class="list-group-item no-boarder" name="co 5">
                    <div class="menu-item-content"><i class="glyphicon glyphicon-move margin-right-10"></i>Company 5<i class="removeMenuItem glyphicon glyphicon glyphicon-remove pull-right"></i></div>
                    <ul>
                        <li class="list-group-item no-boarder" name="co 5.1">
                            <div class="menu-item-content"><i class="glyphicon glyphicon-move margin-right-10"></i>User 5.1<i class="removeMenuItem glyphicon glyphicon glyphicon-remove pull-right"></i></div>
                        </li>
                        <li class="list-group-item no-boarder" name="co 5.2">
                            <div class="menu-item-content"><i class="glyphicon glyphicon-move margin-right-10"></i>User 5.2<i class="removeMenuItem glyphicon glyphicon glyphicon-remove pull-right"></i></div>
                        </li>
                        <li class="list-group-item no-boarder" name="co 5.3">
                            <div class="menu-item-content"><i class="glyphicon glyphicon-move margin-right-10"></i>User 5.3<i class="removeMenuItem glyphicon glyphicon glyphicon-remove pull-right"></i></div>
                        </li>
                        <li class="list-group-item no-boarder" name="co 5.4">
                            <div class="menu-item-content"><i class="glyphicon glyphicon-move margin-right-10"></i>User 5.4<i class="removeMenuItem glyphicon glyphicon glyphicon-remove pull-right"></i></div>
                        </li>
                    </ul>
                </li>
            </ul>
            <span id="result"></span>
        </div>
         
    </div>
</div>