
<div class="col-sm-8">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="col-sm-12">
                <div class="col-sm-6" style="padding-right:0px;">
                    <input type="hidden" id="menuId" name="menuId" value="0"/>
                    <input type="text" id="menuName" class="form-control input-sm" placeholder="Enter Menu Name" />
                </div>
                <div class="col-sm-4">
                    <select id="menuLocation" class="form-control input-sm">
                        <option value="">Select Menu Location</option>
                        <option value="Top">Top</option>
                        <option value="Navigation">Navigation</option>
                        <option value="Left">Left</option>
                        <option value="Right">Right</option>
                        <option value="Footer">Footer</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <input type="button" id="saveMenuBtn" value="Save Menu" class="btn btn-sm btn-default pull-right" />
                </div>
                <div style="clear:both;"></div>
            </div>
            <div style="clear:both;"></div>
        </div>

        <div class="panel-body">
            <ul id="selectedMenuTree">
                <li class="list-group-item no-boarder" ncc-menu-item-id="0" ncc-menu-item-action-type="Url" ncc-menu-item-controller="CmsHome" ncc-menu-item-action="Index" ncc-menu-item-action-data="" ncc-menu-item-url="/CmsHome" ncc-menu-item-target="" ncc-menu-item-order="1" ncc-menu-item-title="Home">
                    <div class="menu-item-content">
                        <div class="pull-left" style="padding: 5px 5px;">
                            <i class="glyphicon glyphicon-move margin-right-10"></i>
                            <span class="ncc-menu-title">Home</span>
                        </div>
                        <input type="button" class="closeMenuItem pull-right" value="X" onclick="RemoveMenuItem(this)" />
                    </div>
                </li>                
            </ul>
            <span id="result"></span>
        </div>
         
    </div>
</div>