<!-- Loading -->
<div id="loadingMask" class="loader loader-double"></div>

<!-- Header -->
<div class="container-fluid topHeader">
    <div class="container">
        <div class="topLogo">
            @*<a asp-area="" asp-controller="CmsHome" asp-action="Index"></a><h1>@WebSite.Name</h1>
                <h4>@WebSite.Tagline</h4>*@
            <a href="/">
                <img class="headerImageBig" src="~/Themes/Udvash/images/headerImage.png" width="100%" />
                <img class="headerImageSmall" src="~/Themes/Udvash/images/headerImage-small.png" width="100%" />
            </a>
        </div>
    </div>
</div>
