@using  NetCoreCMS.Modules.Admin.Lib
@model List<TranslationFile>
@{ 
    Layout = Constants.AdminLayoutName;
    ViewData["Title"] = "Language files";
    Title = "Language files";    
    SubTitle = "Language files";
}

<table class="table table-hover table-responsive">
    <thead>
        <tr>
            <th>Project</th>
            <th>Resource Files</th>
            <th>Culture</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Group</td>
                <td>@item.FileName</td>
                <td>@item.Culture</td>
                <td><a target="_blank" href="/Language/EditTranslationFile/?id=@item.Id">Edit</a></td>
            </tr>
        }
    </tbody>
</table>

